<div class='hero-unit'>
  <h1>CatBnB</h1>
  <p>
    It's like AirBnB, for cats.
  </p>
</div>

<div class='row'>
  <div class='span4'>
    <h2>A place to stay</h2>
    <p>Our curated list of CatBnBs come complete with climbing mazes and 
    lots of cardboard tubes covered with carpet.</p>
  </div>

  <div class='span4'>
    <h2>The lap of luxury</h2>
    <p>Every stay comes with a guaranteed supply of catnip and tiny
    mouse toys that make noise.</p>
  </div>

  <div class='span4'>
    <h2>Your safety is our first concern</h2>
    <p>Our "No dog guarantee" ensures that you'll never have to
    worry about your safety when staying with us.</p>
  </div>
</div>

<hr />

<div style='text-align: center'>
<p class='lead'>Interested? Sign up for our private beta.</p>
<form>
  <div>
    <input type='text' name='name' placeholder="Joe Catlover" />
    <input type='text' name='email' placeholder="catfan55@hotmail.com" />
  </div>
  <div>
    <input type='submit' class='btn btn-primary'>
  </div>
</form>
</div>
